.datepicker_modal {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 999;
    align-items: center;
    justify-content: center;
    font-size: 0.4rem;
}
.datepicker_header {
    margin-left: 0.15rem;
    width: 9.7rem;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    text-align: center;

    border-bottom: 1px solid gray;
    color: #d7981d;
    font-weight: 900;
    -webkit-text-stroke: 1px rgba(65, 17, 0, 0.45);
}

.datepicker_content {
    height: 180px;
    width: 100%;
    display: table;
}

.datepicker_navbar {
    margin-left: 0.15rem;
    height: 40px;
    width: 9.7rem;
    border-top: 1px solid gray;
    padding: 0;
    display: table;
}


.datepicker_navbar_btn {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    color: #d7981d;
    -webkit-text-stroke: 1px rgba(65, 17, 0, 0.45);
}
.dark {
    background-color:#263238;
    width: 100%;
    height: 280px;
    position: absolute;
    bottom: 0;
}

.android{
    width: 10rem;
    height: 280px;
    position: absolute;
    bottom: 0;
    /*background-image: url("http://10.0.0.89:3000/project/img/bb578fe9.rules.png");*/
    background-size: cover;
}
.datepicker_wheel {
    /*border-top: 1px solid #d7981d;*/
    /*border-bottom: 1px solid #d7981d;*/

    position: absolute;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    left: 5%;
    width: 90%;
    font-weight: 900;
    font-size: 20px;
    background: rgba(200,100,100,0.3);
}
.datepicker_scroll {
    list-style-type: none;
}
.scli {
    height: 40px;
    line-height: 40px;
    font-size: 0.4rem;
    cursor: pointer;
    list-style:none;

    color: #d7981d;
    font-weight: bold;
    -webkit-text-stroke: 1px rgba(65, 17, 0, 0.45);
}

.scli_d {
    color: #a6a6a6;
    height: 40px;
    line-height: 40px;
    font-size: 0.4rem;
    cursor: pointer;
    list-style:none
}

.datepicker_col_1 {
    height:180px;
    display: table-cell;
    text-align: center;

}
.datepicker_col_1_none {
    height:180px;
    display: none;
    text-align: center;

}
.datepicker_viewport {
    height: 180px;
    position: relative;
    overflow: hidden;
}



